apiVersion: 1

datasources:
- name: Loki
  type: loki
  access: proxy
  url: http://loki:3100
  uid: P8E80F9AEF21F6940
  jsonData:
    derivedFields:
      - name: trace_id
        matcherRegex: trace_id
        url: '$${__value.raw}'
        datasourceUid: Tempo
        matcherType: label
