/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  letter-spacing: -1px;
}
