@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

body, html, #root, .app {
  margin: 0;
}

.header {
  height: 60px;
}

.sidebar {
  width: 200px;
}

.main-content {
  flex: 1;
}

.terminal-container {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}