DEBUG=True
ENABLE_OTEL=True
 
POSTGRES_HOST=10.38.148.151
POSTGRES_PORT=5432
POSTGRES_USERNAME=quannh40
POSTGRES_PASSWORD=quannh40
POSTGRES_DB=scheduler
POSTGRES_SCHEMA=batch_scheduler
 
LOKI_HOST=10.38.148.151
LOKI_PORT=3100
 
LOGGER_NAME=batch-scheduler
LOG_DIR=./log/batch_scheduler/batch_scheduler.log
LOG_FILE_MAX_BYTES=10485760
LOG_FILE_BACKUP_COUNT=7
 
CELERY_HOST=10.38.148.151
CELERY_PORT=5086
 
SSH_KEYS_PATH=/app/.ssh/
SSH_DEFAULT_USERNAME=admin
SSH_PASSWORD=12345
 
ENCRYPTION_KEY_PATH=./keys/encryption_key
SECRET_KEY_PATH=./keys/encryption_key
 
OTEL_EXPORTER_OTLP_ENDPOINT="http://10.38.148.151:4318"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_SERVICE_NAME=batch_scheduler_dev